body{
    margin: 0px;
}
.flex{
    display: flex;
    align-items: center;
    padding: 50px 150px;
    column-gap: 150px;
}
.flexi{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 150px;
}
.middle flexi{
    width: 100%;
    padding: 0px 150px;
}
.jhamela{

}
.head_left{
    width: 60%;
    padding-bottom: 0px;   
}
.head_right{
   width: 40%;
}
.head_right img{
    width: 100%;
}
.Yeseva_One{
    font-family: 'Yeseva One', cursive;
    font-size: 50px;
}
span{
    color: #FF7F3F;
}
.gap{
    margin-bottom: -35px;
}
#sm{
    border-left: 5px solid;
    border-color: #FFC900;
    
}
.poppi{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}
.poppi1{
    font-weight: 400;
    font-family: 'Poppins', sans-serif;

}
.button{
    text-decoration: none;
    background:#B3541E;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
}
.center{
    text-align: center;
}
.middle h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}
.illas1{
    background-color: #FAEDC6;
    padding: 15px 40px;
}
.illas2{
    background-color: #EEF2FF;
    padding: 15px 40px;
}
.illas3{
    background-color: #FFF1BD;
    padding: 15px 40px;
}
.poppi3{
    font-family: 'Poppins', sans-serif;
}
.illa_pic{
    height: 350px;
    border-radius: 20px;
}
.illa_pic img{
    width: 50%;
}
.flexi .illas1{
    width: 100%;
}
.flexi .illas2{
    width: 100%;
}
.flexi .illas3{
    width: 100%;
}
.middle2 img{
    width: 90%;
}
.coding{
    width: 40%;
}
.tcoding{
    width: 60%;
}
.mota{
    font-weight: bolder;
    font-size: 35px;
}
#motaa{
    font-weight: bolder;
    font-size: 50px;
}
.middle2{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: left;
    padding-left: 150px;
}
#upor{
    padding-top: 60px;
}
.nicer-dan{
    width: 60%;
}
.nicer-bam{
    width: 40%;
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: bottom;
    background-position: right;
}
.nicer img{
    width: 90%;
}
.nicer{
    padding-top: 50px;
    padding-bottom: 50px;
}
.foot{
    text-align: center;
    background-color: black;
    padding: 30px;
}
.ffo{
    color: blanchedalmond;
}